body,
button {
  background-color: #222;
}

h1,
p,
h2,
kbd,
h3 {
  color: #cc5500;
}

h2,
p,
kbd,
h3 {
  font-family: "Rubik", sans-serif;
  text-transform: uppercase;
}

ul,
li,
form {
  display: flex;
}

section,
ul li button {
  border: 5px solid #cc5500;
}

h2,
button,
h3 {
  margin: 1rem 0;
}

ul li,
h2,
h3 {
  text-align: center;
}

li,
form{
  justify-content: center;
}

select,
p,
.description{
  font-size: 2rem;
}

section,
button{
  height: 100%;
}

// HEADER

h1 {
  margin-left: 1rem;
  letter-spacing: -0.2rem;
  font-family: "Literata", serif;
  .upper {
    font-size: 10rem;
    vertical-align: -1rem;
  }
  .l {
    letter-spacing: -3rem;
  }
  .i {
    letter-spacing: -1.5rem;
  }
  .lower {
    font-size: 6rem;
  }
  .drum {
    font-family: "Jacques Francois Shadow", cursive;
    letter-spacing: -1rem;
  }
}

.description {
  margin: 0 auto 4rem 2rem;
  text-align: left;
}

// BODY

section {
  margin: 2%;
  border-radius: 12px;
  padding: 1rem 2rem;
}

h3 {
  font-size: 3.5rem;
}

h3 span {
  display: inline-block;
  position: relative;
}

h3 span:before,
h3 span:after {
  content: "";
  position: absolute;
  height: 1rem;
  border-top: 3px solid #cc5500;
  top: 2rem;
  width: 180%;
}

h3 span::before {
  right: 6rem;
}

h3 span::after {
  left: 6rem;
}

// PADS

ul {
  flex-wrap: wrap;
  li {
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    width: calc(50% - 2rem);
    height: 20rem;
    button {
      width: 100%;
      cursor: pointer;
    }
  }

  kbd {
    font-size: 5rem;
  }

  p {
    margin: 0;
  }

  button:focus {
    border: 1px dotted whitesmoke;
  }
}

form{
  margin-top: 2rem;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: .4rem solid #cc5500;
  background-image: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png);
  background-repeat: no-repeat;
  background-position: 95% center;
  width: 15rem;
  padding: 5px;
  background-color: wheat;
  color: #222;
}

select:focus-within {
  border: 1px dotted #cc5500;
}

@keyframes impact {
  0%{
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.played {
  animation: impact 0.4s linear;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}
